.SelectHolder{
    
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 32px;    
    border-bottom: 1px solid #E2E4E5 ;
    
    
}

#default{
    width: 100%;
    flex: 1;
    height: 40px;
    border: none;
    font-size: 18px;
    color: #9B9E9F;

}