*{
    top: auto;
    
}

.container{
    height: 100%;
    display: flex;
    flex-direction: row;

}

.question{
    
    width: 99px;
    border: 1px solid #E2E4E5;
    
    
    
    
    
}

.q{
    width: 100%;
    height: 95px;
    background: #4378BC;
    border: 1px solid #E2E4E5 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.contentQ{
    background-color: transparent;
    color: white;
    display: block;
    width: 21px;
height: 29px;
top: 144px;
left: 39px;
font-size: 24px;
font-weight: 700;
line-height: 30.24px; 

opacity: 0px;

}

.contentQuestions{
    background-color: transparent;
    color: white;
    width: 85px;
height: 19px;
top: 190px;
left: 7px;
opacity: 0px;
line-height: 20.16px;
font-size: 16px;
font-weight: 600;
margin-top: 20px;

}
.space{
    flex: 1;
}
